@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");



.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Nav*/ 
.link {
    font-size: 30px;
    color: #646464;
    font-family: inherit;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-right: 40px;
  }
  
  .link:focus,
  .link:hover {
    color: #302f2f;
  }
  
  .link:focus:after,
  .link:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .link:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  /* banner */
  .relativeContainer {
    position: relative;
  }

  .slogan {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-95%, -50%);
    z-index: 1;
    text-shadow: 1px 1px 2px rgb(190, 190, 190);
  }

  .tituloSeccion {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    width: 75%;
  }
  
  @media all and (min-width: 768px) and (max-width: 930px) {
    .slogan {
      top: 50%;
      transform: translate(-80%, -50%);
    }
    
  }

  @media (max-width: 767px) {
    .slogan {
      top: 65%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    .tituloSeccion {
      text-align: center;
      width: 100%;
    }
  }

  .nav {
    background-color: transparent !important;
  }

  .banner {
    object-fit: cover;
    height: auto;
    width: 100%;
    display: block;
    z-index: 0;
    background: #e2e2e2;
    
  }



  @media (max-width: 767px) {
    .banner {
     height: 500px;
     padding-bottom: 0px;
    }
    .containerBtn{
      display: flex;
      justify-content: center;
    }
  }

  .img-thumbnail {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }


.tituloSeccion {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-size: 60px;
  font-style: normal;
}


/* From Uiverse.io by felipesntr */ 
.btnProductos {
  font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
}

.btnProductos:hover {
  transform: translate(5px, -5px);
}

h3::before,
h3::after {
  border-top: .2rem solid black;
  content: "";
  display: inline-block;
  margin: 0 .5rem;
  transform: translateY(-.5rem);
  width: 2rem;
}

.footer {
  background: rgb(0, 0, 0);
}


/* contacto */

.tituloContacto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* From Uiverse.io by gharsh11032000 */ 
.form-container {
  width: 100%;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container button:active {
  scale: 0.95;
}

.form-container .logo-container {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #1778f2;
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
  background-color: #313131;
}

.form-container .link {
  color: #1778f2;
  text-decoration: none;
}

.form-container .signup-link {
  align-self: center;
  font-weight: 500;
}

.form-container .signup-link .link {
  font-weight: 400;
}

.form-container .link:hover {
  text-decoration: underline;
}

.contact-container {
  width: 100%;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.opcionesContacto{
  margin: auto;
}

.opcionesContacto h4{
  font-size: 30px;
  font-weight: 400;
  
}

/* productos */
/* From Uiverse.io by G4b413l */ 
.card {
  position: relative;
  width: 100%;
  height: 600px;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 1em;
}

.card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

.card .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.card:active {
  transform: scale(0.98);
}

.text {
  max-width: 55px;
}

.card-img-top-nueva {
  width: 100%;
  height: 300px;
  object-fit: cover;
}







